/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f8f8;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    background-color: #3f87ce;
    height: 100vh;
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .home {
    padding-right: 10px;
  }
  
  .logo {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .logo img {
    width: 100px;
    height: 60px;
    margin-bottom: 10px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: medium;
    width: 100%;
    border: none;
   
  }
  
  .menu-item:hover {
    background-color: #104376;
  }
  
  .active {
    background-color: #104376;
    color: white;
    font-weight: bold;
    font-size: medium;
    width: 100%;
    border: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .content {
    padding: 20px;
    flex-grow: 1;
    position: relative;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 3%;
    left: 1%;
    right: 1%;
    height: 75px;
    background-color: #fff;
    z-index: 1000;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
  }
  
  .Dsbd {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 4px;
  }
  
  .breadcrumb {
    font-size: 1rem;
    color: #6c757d;
  }
  
  .user-profile img {
    background-color: #6c757d;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .search-section {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #104376;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 90px;
    position: absolute;
    left: 1%;
    right: 1%;
    top: 130px;
  }
  
  .search-row {
    display: flex;
    gap: 15px;
    flex-grow: 1;
  }
  
  .search-row select,
  .search-row input {
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    width: 220px;
    height: 55px;
  }
  
  .search-row button {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #96a3b0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 180px;
    height: 55px;
  }
  
  .search-row button:hover {
    background-color: #4d84bb;
  }
  
  .summary-section {
    background-color: rgb(60, 49, 49);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 1%;
    right: 1%;
    top: 230px;
  }
  
  #tx {
    color: white;
    font-family: Arial;
  }
  
  .add-members-btn {
    height: 6vh;
    width: 25vh;
    margin-right: 15px;
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
  }
  
  .add-members-btn:hover {
    background-color: rgb(185, 105, 105);
  }
  
  .table-section table {
    width: 98%;
    border-collapse: collapse;
    position: absolute;
    left: 1%;
    right: 1%;
    top: 320px;
  }
  
  .table-section th,
  .table-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table-section th {
    background-color: #f2f2f2;
  }
  
  .table-section tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .trs {
    background-color: rgb(27, 27, 225);
    color: white;
  }
  
  .pagination {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    top: 480px;
  }
  
  .pg2 {
    display: flex;
    justify-content: space-around;
    gap: 90px;
  }
  
  .pagination button {
    height: 6vh;
    width: 6vh;
    margin: 0 5px;
    cursor: pointer;
    background-color: #778ca4;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .pagination button:hover {
    background-color: rgb(182, 179, 179);
  }
  
  #pn {
    border: solid 1px #ccc;
    background-color: rgb(252, 251, 251);
    color: black;
  }
  